[Application]
name=PDFtools
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=servhttp:main
icon=pdftools.ico
license_file=LICENSE
console =true

[Python]
version=3.10.0


[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels = PyPDF2==2.1.0
    pdf2image==1.16.0
    PILLOW==9.1.1

packages = fpdf
    combinefromfolder
    addpagenums
    encodepdf
    mergepdfs
    splitpdf
    reorder_showdoc
    reorder_commit
    webserv
    post
    myfunc
    downloadpoppler
    tkinter
    _tkinter
   

# Other files and folders that should be installed
files = lib
    LICENSE
    index.html > $INSTDIR\pkgs
    uiclient.js > $INSTDIR\pkgs
    tcl86t.dll > $INSTDIR\pkgs
    tk86t.dll > $INSTDIR\pkgs